body {
    font-family: "Poppin", sans-serif;
}

/* Font Weights */
.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.ultra {
    font-weight: 800;
}

/* Base Font */
body {
    font-size: 14px;
    line-height: 1.6em;
}

/* Colors */
.black {
    color: #000000;
}

.dark-gray {
    color: rgba(0, 0, 0, 0.8);
}

.gray {
    color: rgba(0, 0, 0, 0.6);
}

.light-gray {
    color: rgba(0, 0, 0, 0.4);
}

.lighter-gray {
    color: rgba(0, 0, 0, 0.2);
}

.white {
    color: #FFFFFF;
}

.accent {
    color: #4285F4;
}

/* Form Settings */
.form {
    max-width: 600px;
    max-height: auto;
    margin: 100px auto 10px;
    overflow: hidden;
}

.form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-toggle:before,
.form-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #4285F4;
    transform: translate(-50%, -50%);
}

.form-toggle:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.form-toggle:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form-toggle.visible {
    transform: translate(0, -25%) scale(1);
    opacity: 1;
}

.form-group {
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgba(0, 0, 0, 0.6);
}

.form-group input {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}

.form-group button {
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.form-recovery {
    color: #4285F4;
    font-size: 16px;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}

.form-panel.one:before {
    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
}

.form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: #4285F4;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    transition: 0.3s ease;
    cursor: pointer;
}

.form-panel.two:before,
.form-panel.two:after {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    left: 1.5%;
    background: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 2px;
    transition: 0.3s ease;
}

.form-panel.two:after {
    left: 3%;
}

.form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-panel.two:hover:before,
.form-panel.two:hover:after {
    opacity: 0;
}

.form-panel.two.active {
    left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.form-header h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-header h1.two {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
}


.pen-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
}

.pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.pen-footer .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
}

.cp-fab {
    background: #FFFFFF !important;
    color: #4285F4 !important;
}
